<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Todays Bookings</h1>
{%for item in result%}
<p>{{item[0].split(" ")[1]}} {{item[1]}}</p>
{%endfor%}

</body>
</html>