<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
</head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd',}).val();
     $('#datepicker').datepicker({
       onSelect : function (dateText, inst) {
          $('#formid').submit();
  }});
    $( "#anim" ).on( "change", function() {
      $( "#datepicker" ).datepicker( "option", "showAnim", $( this ).val() );
    });
  } );
  </script>
<script>
    $(document).ready(function(){
    $("#option2").attr('disabled', true);
    $(".btn").click(function(){
        $(".btn").removeClass("active");
        $(this).addClass("active");

    });


    });
</script>

<script>
    $(document).ready(function(){

    var time = $(".btn").val()

    });


    });
</script>


<body>
<div class="container" align="center">
    <form action="/request" method="post" id="formid">
  <p>Date: <input  id="datepicker" size="30" name="day" autocomplete="off" required value={{date}}  ></p>
        <input class="btn btn-primary" type="submit" value="Select date">
        <br>
        </form>

    <br>
    <form action="/submit" method="post">
        <div style="display:none;">
        <input size="30" name="day" value={{date}} >
        </div>
  Time:

       <div class="btn-group" data-toggle="buttons">
           {%for item in times%}
           {%if item not in list%}
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option1" value={{item}}> {{item}}
          </label>
           {%else%}
           <label class="btn btn-danger">
            <input type="radio" name="options" id="option2" disabled value={{item}}> {{item}}
          </label>
           {%endif%}
           {%endfor%}
           <br>

       </div>

<br>




  Name:
  <input type="text" name="name" required>
  <input type="submit">

</form>

    <a class="btn" href="/admin"> Todays bookings </a>

{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}
      <h1>{{ message }}</h1>
    {% endfor %}

  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
</div>




</body>
</html>
